/* Trending.css - Updated styling for a dark theme with increased top margin */
.trending {
    padding: 20px;
    background-color: #222; /* Very dark grey for background */
    color: white; /* Sets default text color to white */
    box-sizing: border-box;
    margin-top: 100px; /* Increases space above the component to avoid overlapping */
}

.trending h1 {
    text-align: center;
    color: white; /* Ensuring the heading is also white */
    margin-top: 20px;
}

.trending-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Fixed three columns layout */
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #555; /* Darker grey background for buttons */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.pagination button:disabled {
    background-color: #333; /* Even darker grey for disabled buttons */
    cursor: not-allowed;
}

.pagination span {
    color: white; /* White text for pagination information */
}

/* Updated styling for the search bar */
.search-bar {
    width: 45%;  /* Adjust width as necessary for design preference */
    padding: 15px 20px;
    margin: 25px auto;  /* Auto margins for horizontal centering */
    display: block;  /* Ensures the element respects width and margin */
    box-sizing: border-box;
    border: 2px solid #555; /* Stylish dark border */
    border-radius: 20px; /* Fully rounded edges */
    background-color: white; /* White fill */
    color: #333; /* Dark text color for contrast */
    font-size: 16px; /* Readable text size */
}

.search-bar::placeholder {
    color: #aaa; /* Light gray for placeholder text, adjust if needed */
}

.pagination > span {
    margin-top: 10px;
}







