.knives {
  padding: 20px;
  text-align: center;
  color: white;
}

.search-bar {
  margin-bottom: 20px;
  padding: 10px;
  width: 80%;
  max-width: 600px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.all-knives {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.knife-item {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.knife-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.knife-item h2, .knife-item p {
  color: white;
  text-align: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.pagination span {
  color: white;
}
